.img-uploader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px;
}

.img-uploader-wrapper .img-container {
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  position: relative;
}

.img-uploader-wrapper .img-container:hover .upload-hint-container {
  /* transform: scale(1.5, 1.5); */
  transform: translate(0, 0);
}

.img-uploader-wrapper .img-container .upload-hint-container,
.img-uploader-wrapper .img-container .upload-error-container,
.img-uploader-wrapper .img-container .upload-loading-container {
  top: 0;
  z-index: 10;
  position: absolute;
  transition: transform 0.5s ease;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-uploader-wrapper .img-container .img {
  width: 100%;
  height: 100%;
}

.img-uploader-wrapper .img-container .upload-hint-container {
  transform: translate(0, 100%);
  z-index: 15;
}

.img-uploader-wrapper .img-container .upload-hint-container h4 {
  color: white;
}

.img-uploader-wrapper .img-container .upload-hint-container .upload-icon {
  cursor: pointer;
  color: white;
}
