.App {
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.App .form-container {
  height: 100%;
  padding-block: 20px;
  width: 20%;
  padding-inline: 20px;
  border-inline-end: 1px solid black;
}

.App .tree {
  width: 80%;
}
